[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
face-recognition = "*"
opencv-python = "*"
opencv-contrib-python = "*"
scikit-learn = "*"
deepface = "*"
tf-keras = "*"

[dev-packages]

[requires]
python_version = "3.11"
